
body{
    background-image: url(images/background.png);
    width: 1440;
    height: 3473;
    top: -1089px;
    left: 3841px;
    border-width: 1px;
}

header{
    display: flex;
    max-width: 1321px;
    max-height:  300.1px;
    top: 63px;
    left: 59px;
    border-radius: 29.04px;
    gap: 27px;
    margin-bottom: 40px;

    img{
        width: 300.1px;
        height: 300.1px;
        top: 63px;
        left: 59px;
        border-radius: 29.04px;
    }
    div{
        background-color: #FFFFFF;
        width: 994.69px;
        height: 180.1px;
        top: 63px;
        left: 386.1px;
        border-radius: 29.04px;
        padding-top: 59px;
        padding-right: 69px;
        padding-bottom: 59px;
        padding-left: 69px;
        gap: 10px;

    }
}
.Proficiency-parent{
    display: flex;
    justify-content: space-around;
}
.Proficiency{
    width: 563px;
    height: 340px;
    top: 411.43px;
    left: 62.92px;
    border-radius: 29.04px;
    padding-top: 41px;
    padding-right: 28px;
    padding-bottom: 41px;
    padding-left: 28px;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 29.04px;
    margin-bottom: 3%;
    p{
        font-weight: bold;
    }
}

.ProficiencyBars{
    display: grid;
    grid-template-columns: 1fr, 2fr ;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    
    .js{
        grid-row: 1/4;
        grid-column: 1/2;
    }
    #Javascript-bar{
        width: 15em;
        height: 15px;
        background-color: #4A8B70; 
        grid-row: 1/4;
        grid-column: 2/2;
    }
    .react-bar{
        grid-row: 2/4;
        grid-column: 1/2;
    }
    #react-bar{
        width: 1em;
        height: 15px;
        background-color: #4A8B70;
        grid-row: 2/4;
        grid-column: 2/2;   
    }

    .nodeJs-bar{
        grid-row: 3/4;
        grid-column: 1/2;   
    }
    #nodeJs-bar{
        width: 8em;
        height: 15px;
        background-color: #4A8B70;
        grid-row: 3/4;
        grid-column: 2/2; 
    }
    .html-css-bar{
        grid-row: 4/4;
        grid-column: 1/2;
    }
    #html-css-bar{
        width: 9em;
        height: 15px;
        background-color: #4A8B70;
        grid-row: 4/4;
        grid-column: 2/2;
    }
}

.Skills{
    background-color: #FFFFFF;
    width: 516px;
    height: 365px;
    top: 411px;
    left: 675px;
    border-radius: 29.04px;
    padding: 28px;    
    span{
        background-color: #4A8B7021;
        border-radius: 29.4px;
        padding: 5px;
        gap: 39px;
        margin: 10px;
    }
}
.Skills-section{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   span{
    padding: 15px;
   }
}

.Projects-parent{
    
    width: 994px;
    height: 847px;
    top: 1691.09px;
    left: 63px;
    gap: 10px;
    border-radius: 29.04px;
    padding: 29px;
    background-color: #FFFFFF;
    margin-bottom: 2%;
}

.Projects{
    display: flex;
    width: 280;
    height: 581;
    top: 130.05px;
    left: 33.54px;
    border-radius: 29.04px;
    padding-top: 22px;
    padding-right: 19px;
    padding-bottom: 22px;
    padding-left: 19px;
    

}

.project-1{
    background-color: #4A8B70;
    width: 280;
    height: 581;
    top: 130.05px;
    left: 33.54px;
    gap: 154px;
    border-radius: 29.04px;
    padding-top: 22px;
    padding-right: 19px;
    padding-bottom: 22px;
    padding-left: 19px;
    margin-left: 10px;
}

.project-2,
.project-3,
.project-4{
    background-color: #E7F0EC;
    width: 280;
    height: 581;
    top: 130.05px;
    left: 33.54px;
    gap: 154px;
    border-radius: 29.04px;
    padding-top: 22px;
    padding-right: 19px;
    padding-bottom: 22px;
    padding-left: 19px;
    margin-left: 10px;
}

.section2{
    display: flex;
    gap: 20px;
    margin-bottom: 2%;
    img{
        width: 184px;
    }
}

.Education{
    background-color: #FFFFFF;
    width: 994px;
    height: 789px;
    top: 1691.09px;
    left: 63px;
    gap: 10px;
    border-radius: 29.04px; 
    padding: 29px;
    gap: 10px;
}
.Education-green-card{
    background-color: #4A8B70;
    width: auto;
    height: auto;
    border-radius: 28px;
    padding: 10px;
    margin-bottom: 10px;
}
.Education-card{
    background-color: #4A8B7021;
    width: auto;
    height: auto;
    border-radius: 28px;
    padding: 10px;
}

.Tools{
    text-align: center;
    background-color: #FFFFFF;
    width: 300px;
    height: 847px;
    top: 1691.29px;
    left: 1078.69px;
    border-radius: 29.04px;

}
.Experience{
    background-color: #FFFFFF;
    width: 1180px;
    height: 300px;
    top: 2586.15px;
    left: 63px;
    gap: 30px;
    border-radius: 29.04px;
    padding-top: 31px;
    padding-right: 27px;
    padding-bottom: 32px;
    padding-left: 27px;
    margin-bottom: 2%;
}

footer{
    background-color: #D76239;
    width: 1322;
    height: 158;
    top: 3274.15px;
    left: 59px;
    justify-content: space-between;
    border-radius: 29.04px;
    padding: 29.04px;

    .Yeah{
        display: flex;
    }
}



















































































































